<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./include/head %>
    <link rel="stylesheet" type="text/css" href="css/404Page.css">
</head>
<body class="container">
    <% include ./include/header %>
    <main class="error-page">
        <div class="title">对不起！我去捡肥... Oh 不 捡垃圾了</div>
    </main>
    <% include ./include/footer %>
</body>
</html>
