<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./include/head %>
    <link rel="stylesheet" type="text/css" href="css/detail.css">
</head>
<body class="container">
    <% include ./include/header %>
    <main class="show-case">
        <iframe class="modules" src="<%=data.path%>" frameborder="0">
        </iframe>
    	<% include ./include/footer %>
    </main>
</body>
</html>