/**
 * 辅助模块，首页中间的模块
 */
.assist {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  -ms-flex: 6;
      flex: 6;
  height: 100%;
  padding: 0 10px;
  min-width: 300px;
}
.assist > :first-child {
  margin-bottom: 1rem;
}
.assist > :not(:first-child) {
  margin-bottom: 2rem;
}
.assist .footer {
  position: relative;
}
@media screen and (max-width: 767px) {
  .assist {
    display: none;
  }
}
