/* 返回顶部 */
.back-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: block;
  width: 4rem;
  height: 4rem;
  color: #fff;
  text-align: center;
  line-height: 4;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.8s;
  cursor: pointer;
}
.back-top:hover {
  border: 4px solid #2C2727;
}
