/**
 * 公用侧边头部样式
 */
.sidebar {
  max-width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  -ms-flex: 2;
      flex: 2;
}
.sidebar .navbar-item {
  line-height: 3;
  display: inline-block;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.sidebar .navbar-item.active {
  background-color: #e78170;
}
.sidebar .navbar-item img {
  max-width: 55%;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 768px;
    height: 8vh;
  }
  .navbar-item {
    overflow: hidden;
    height: 100% !important;
  }
  .navbar-item img {
    margin-top: 5px!important;
    max-width: 50%;
  }
}
