<!-- views/include/head.ejs -->

<meta charset="UTF-8">
<title>猎鹰前端动效</title>
<meta content="telephone=no" name="format-detection">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="width">
<meta name="applicable-device" content="mobile">
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="css/common.css">
