<div class="upload J-upload">
	<div id="dropupload" class="box-upload">
		<input id="projectname" placeholder="请输入项目名称" />
		<input type="file" name="fileupload" class="input" id="multipleUpload" multiple="multiple">
		<div class="uploadArea J-uploadArea" title="点击或者拖拽文件">
			<div class="drag" id="drag"></div>
			<div class="preview" id="preview"></div>
		</div>
	</div>
	<div class="btn-group">
		<a class="btn btn-open J-open-upload" data-tip="上传文件">
			<i class="icon-pen"><img src="../img/icon_pen_leather.png" alt=""></i>
			提交插件
		</a>
		<a class="btn btn-upload J-btn-upload" id="uploadBtn">
			上传
		</a>
	</div>
</div>